.me-tr{
    text-align: right;
}

.me-fr{
    float: right;
}

.me-nav{
    position: fixed;
    top: 0px;
    z-index: 9999;
    width: 100%;
}

.me-wrap{
    padding: 80px 0 60px;
    background: #f2f2f2;
}

.me-div{
    max-width: 1000px;
    margin:0 auto 20px;
    padding: 30px;
    overflow: hidden;
}

.me-h1{
    font-size:1.5em;
    font-family:黑体;
    color:#0070C0;
    margin:18px 0;
}

.me-h2{
    font-weight: bold;
    font-size: 18px;
}

.me-h3{
    font-weight: bold;
    margin:0.5em 1em;
}

.me-p{
    padding: 0.4em;
    margin-left: 1em;
}

.me-ol li{
    list-style-type:decimal;
    margin-left: 4em;
}

.me-ul li{
    list-style-type:square;
    padding: 0.4em;
    margin-left: 2em;
}

.me-img{
    width: 150px;
}

.me-good{
    color: #00b050;
}

.me-bad{
    color: #c00000;
}

@media screen and (max-width: 450px) {
    .me-mobile-hide{
        display: none!important;
    }
}
@media screen and (max-width: 330px) {
    .layui-nav{
        padding: 0 10px;
    }
}