.me-tr {
  text-align: right;
}

.me-fr {
  float: right;
}

.me-nav {
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
}

.me-wrap {
  padding: 80px 0 60px;
  background: #f2f2f2;
}

.me-div {
  max-width: 1000px;
  margin: 0 auto 20px;
  padding: 10px 20px;
  overflow: hidden;
}

.me-h1 {
  font-size: 1.5em;
  font-family: 黑体;
  color: #0070c0;
  margin: 18px 0;
}

.me-h2 {
  font-weight: bold;
  font-size: 18px;
}

.me-h3 {
  font-weight: bold;
  margin: 0.5em 1em;
}

.me-p {
  padding-left: 1em;
  display: flex;
}

.me-p b {
  flex-shrink: 0;
}

.me-p a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.me-ol li {
  list-style-type: decimal;
  margin-left: 3em;
}

.me-ul li {
  list-style-type: square;
  padding: 0.4em;
  margin-left: 2em;
}

.me-img {
  width: 150px;
}

.me-good {
  color: #00b050;
}

.me-bad {
  margin-top: 10px;
  color: #ffb800;
}

.me-timeline {
  margin-top: 10px;
}

.me-timeline > li {
  margin-bottom: 15px;
}

/* 导航弹窗样式 */
.site-dir li {
  line-height: 26px;
  margin-left: 20px;
  overflow: visible;
  list-style-type: disc;
}

.site-dir li a {
  display: block;
}

.site-dir li a:active {
  color: #16b777;
}

.site-dir li a.layui-this {
  color: #16b777;
  font-weight: bold;
}

body .layui-layer-dir {
  box-shadow: none;
  border: 1px solid #d2d2d2;
}

body .layui-layer-dir .layui-layer-content {
  padding: 10px;
}

.site-dir a em {
  padding-left: 5px;
  font-size: 12px;
  color: #c2c2c2;
  font-style: normal;
}

.click-me {
  color: #16b777;
  float: right;
  animation: scale 1.3s linear infinite;
  /*名称 1s 匀速 无限循环*/
}
.click-me:hover {
  color: #0070c0;
}

@keyframes scale {
  /*动画帧*/

  50% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 450px) {
  .me-mobile-hide {
    display: none !important;
  }

  .me-timeline > li {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 330px) {
  .layui-nav {
    padding: 0 10px;
  }
}
