/* CSS Reset */
 * {
    margin: 0;
    padding: 0;
}
html,body{
    height: 100vh;
    width: 100vw;
}
 /* 背景 */
body{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #051e3e;
    background-image: radial-gradient(circle,#132e4b 10%, transparent 0);
    background-size: 3vh 3vh;
    background-position: 0 0, 1.5vh 1.5vh;
}
/* 标题样式 */
.main-title{
    text-align: center;
    margin: 3vh 0 0;
    font-size: 3vh;
    line-height: 6.5vh;
    height: 7.5vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url(../images/title-bg.png);
}
.main-title>span{
    background: linear-gradient(to bottom, #80c8ff, #4ab1ff);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}
.main-title .title-icon{
    display: inline-block;
    width: 3.6vh;
    height: 3.6vh;
    position: relative;
    top: 1.2vh;
    margin-right: 0.6vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/icon.png);
}
/* 主体容器 */
.main-container{
    position: absolute;
    top: 11.5vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.main-container .left{
    width: 30%;
}
.main-container .center{
    width: 40%;
}
.main-container .right{
    width: 30%;
}

/* 面板样式 */
.card{
    height: 38vh;
    margin: 2.5vh 2vh;
    border: 1vh transparent solid;
    border-image: url(../images/card-bg.png) 50;
}
.card .card-title{
    height: 3vh;
    margin: 1vh 1.5vh;
    color: #bde2ff;
    font-size: 1.8vh;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
}
.card .card-title-bg{
    display: inline-block;
    width: 25vh;
    height: 1.6vh;
    position: relative;
    top: 0.2vh;
    margin-left: 1vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/card-title-bg.png);
}
.card .card-container{
    height: calc(100% - 6vh);
    padding: 0 1.5vh 1.5vh;
}
/* 中央大地图 */
.map{
    height: 49vh;
    margin-top: 3vh;
}
.main-map{
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}
.main-map.active{
    display: block;
}
.main-map:after{
    content: '';
    position: absolute;
    top: 0;  
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 10vh 4.5vh #051e3e inset;
}

/* 中央大地图悬浮窗 */
.panel{
    position: absolute;
    z-index: 1000;
    color: #fff;
}
.panel .panel-title{
    position: relative;
    display: inline-block;
    padding: 0.6vh 0.5vh 0.6vh 1vh;
    border-right: none;
    font-weight: normal;
    margin-bottom: 1vh;
    font-size: 1.6vh;
    height: 2.2vh;
    background-image: url(../images/panel-title-bg.png);
    background-size: auto 100%;
}
.panel .panel-title:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2.5vh;
    width: 2.5vh;
    height: 3.4vh;
    background-image: url(../images/panel-title-bg2.png);
    background-size: 100% 100%;
}

.panel .panel-table{
    border: #356b96 solid 1px;
    border-collapse:collapse;
    text-align: left;
    font-size: 1.3vh;
}
.panel .panel-table th{
    font-weight: normal;
    padding: 0.8vh 1vh;
    background-color: rgba(53, 107, 150, 0.8);
}
.panel .panel-table td{
    font-weight: normal;
    padding: 0.6vh 1vh;
}
.panel .panel-table tbody tr:nth-child(even) {
    background-color:rgba(29, 43, 76, 0.6)
}
.panel .panel-table tbody tr:nth-child(odd) {
    background-color:rgba(0, 0, 0, 0.6)
}

/* 地表水水质检测结果表 */
.info-bar{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 1.3vh;
}
.level-bar{
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 1.3vh;
    background-color: rgba(38, 76, 122,0.6);
    padding: 0.6vh 0;
    margin: 0.6vh 0;
}
.level-bar li{
    list-style:none;
}
.badge-dot{
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    padding: 0;
    border-radius: 50%;
}
.level1 {
    background-color: #C7E3E0;
}

.level2 {
    background-color: #57BAD9;
}

.level3 {
    background-color: #6FB33C;
}

.level4 {
    background-color: #E7E44E;
}

.level5 {
    background-color: #E3382F;
}
.result-table{
    color: #fff;
}
.result-table table{
    width: 100%;
    font-size: 1.3vh;
    border-collapse:collapse;
    text-align: center;
}
.result-table table th,.result-table table td{
    padding: 0.4vh 0;
    box-sizing: border-box;
    position: relative;
    height: 2.5vh;
}
.result-table table td>div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    left: 0;
    right: 0;
    top:0.4vh;
}
.result-table th:nth-child(1),.result-table td:nth-child(1),.result-table th:nth-child(5),.result-table td:nth-child(5) {
    width: 7%;
}
.result-table th:nth-child(2),.result-table td:nth-child(2),.result-table th:nth-child(6),.result-table td:nth-child(6) {
    width: 20%;
}
.result-table th:nth-child(3),.result-table td:nth-child(3),.result-table th:nth-child(7),.result-table td:nth-child(7) {
    width: 8%;
}
.result-table th:nth-child(4),.result-table td:nth-child(4),.result-table th:nth-child(8),.result-table td:nth-child(8) {
    width: 15%;
}
.result-table tbody tr:nth-child(odd) {
    background-color:rgba(102, 153, 255, 0.1)
}
.scroll {
    width: 100%;
    height: 14vh;
    overflow: hidden;
    position: relative;
}
.scroll .scroll-slide {
    height: auto;
}
.scroll .scroll-wrapper {
    transition-duration: 1s;
}

/* 巡河统计样式 */
.charts-bar{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.charts-bar .charts-items{
    width: 33%;
}

/* 确权划界 */
.qqhj-map{
    width: 100%;
    height: 100%;
}

/* 影像轮播 */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-container .swiper-slide {
    text-align: center;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container.swiper-container-horizontal>.swiper-pagination-progressbar{
    top:auto;
    bottom: 0;
}
.swiper-container .swiper-slide img,.swiper-container .swiper-slide video{
    max-width: 100%;
    max-height: 100%;
}