body{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}
video{
    position: fixed;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}
source{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}