ul.protogenesis-nav {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
}

ul.protogenesis-nav li {
    float: left;
    width: 136px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

ul.protogenesis-nav li:hover {
    background-color: #38688c;
}

ul.protogenesis-nav li:hover a {
    color: #ffffff;
}

ul.protogenesis-nav li a {
    display: block;
}

ul.protogenesis-nav li.this {
    background-color: #38688c;
    color: #ffffff;
}

ul.protogenesis-nav li.this a {
    color: #ffffff;
}

/* 主体部分 */
div.protogenesis-box {
    padding-top: 10px;
    overflow: hidden;
}

/* 设置轮播指示器位于右下角 */
.layui-carousel-ind ul {
    float: right;
    background-color: transparent;
    margin-right: 20px;
}

.layui-carousel img {
    /* 这种不会失真 */
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.box-slideshow p {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 60px;
}

.box-slideshow p span {
    display: inline-block;
    overflow: hidden;
    /*自动隐藏文字*/
    text-overflow: ellipsis;
    /*文字隐藏后添加省略号*/
    white-space: nowrap;
    /*强制不换行*/
    color: #ffffff;
    width: 70%;
    text-indent: 20px;
    font-size: 16px;
}

div.box-top-right {
    margin-left: 16px;
    float: left;
}

/* 最近更新 */
div.box-recent-updates {
    width: 460px;
    height: 200px;
    border: 1px solid #eeeeee;
}

/* module */
div.module {
    width: 100%;
    height: 40px;
    border-top: 2px solid #38688c;
    line-height: 40px;
}

div.module span {
    float: left;
}

.box-title {
    width: 70px;
    height: 40px;
    background-color: #38688c;
    text-align: center;
    color: #fff;
    padding: 0 20px 0 10px;
    border-radius: 0 0 25px 0;
}

.semicircle {
    width: 20px;
    height: 40px;
    background-color: #38688c;
    border-radius: 0 20px 20px 0;
}

div.module span.box-msg {
    float: right;
    color: #999999;
    padding: 0 10px;
}

div.module span.box-msg a {
    color: #999999;
}

.r-u-bottom {
    padding: 10px;
    border-top: 1px solid #eeeeee;
}

.r-u-bottom h3 {
    text-align: center;
}

.r-u-bottom p {
    height: 90px;
    text-indent: 20px;
    color: #999999;
    overflow: hidden;
    /*自动隐藏文字*/
    text-overflow: ellipsis;
    /*文字隐藏后添加省略号*/
}

/* 热点新闻 */
.box-hot-news {
    border: 1px solid #eeeeee;
    height: 177px;
}

.module-ul {
    border-top: 1px solid #eeeeee;
    padding: 10px;
}

.module-ul li {
    border-bottom: 1px solid #eeeeee;
    height: 40px;
    line-height: 40px;
}

.module-ul li:last-child {
    border: none;
}

.module-ul li span:nth-child(1) {
    background-color: #999999;
    margin-right: 10px;
}

.module-ul li span:nth-child(2) {
    float: right;
}
/* 政策法规，问题清单，目标清单，措施清单，友情链接 */
.box-hot-news a:hover,
.box-bottom a:hover {
    text-decoration: underline;
}

.box-bottom{
    overflow: hidden;
}
.box-bottom>div {
    float: left;
    width: 622px;
    margin-left: 20px;
    border: 1px solid #eeeeee;
}

.box-bottom>div:nth-child(1),
.box-bottom>div:nth-child(3),
.box-bottom>div:nth-child(5)
    {
    margin-left: 0;
}
.box-bottom>div{
    margin-bottom: 20px;
}
.box-bottom .module {
    border-top: 2px solid #2592cd;
}

.box-bottom .box-title {
    background-color: #2592cd;
}

.box-bottom .semicircle {
    background-color: #2592cd;
}
.box-bottom>.box-friendship-a{
    width: 1266px;
}
.box-bottom>.box-friendship-a .module-ul>li{
    display: inline-block;
    width: 200px;
    border-bottom: none;
    padding: 0 10px 0 20px;
}
/* 分页 */
#laypage{
    text-align: center;
    margin-top: 10px;
}