@font-face {
  font-family: "iconfont"; /* Project id 3921306 */
  src: url('iconfont.woff2?t=1704944127644') format('woff2'),
       url('iconfont.woff?t=1704944127644') format('woff'),
       url('iconfont.ttf?t=1704944127644') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-view:before {
  content: "\e60e";
}

.icon-user-c:before {
  content: "\e6a5";
}

.icon-message:before {
  content: "\e6d6";
}

.icon-reply:before {
  content: "\e6cd";
}

.icon-kechengbaogao:before {
  content: "\e61f";
}

.icon-zhengqueshuai:before {
  content: "\e61e";
}

.icon-shuoming:before {
  content: "\e61d";
}

.icon-tixing:before {
  content: "\e61c";
}

.icon-shanchu:before {
  content: "\e61b";
}

.icon-a-listformat:before {
  content: "\e617";
}

.icon-back:before {
  content: "\e618";
}

.icon-next:before {
  content: "\e619";
}

.icon-zuodacishu:before {
  content: "\e614";
}

.icon-CheckCircle:before {
  content: "\e615";
}

.icon-ClockCircle:before {
  content: "\e616";
}

.icon-youjiantou:before {
  content: "\e678";
}

.icon-PPT:before {
  content: "\e611";
}

.icon-PDF:before {
  content: "\e612";
}

.icon-WORD:before {
  content: "\e613";
}

.icon-xianshi:before {
  content: "\e6cc";
}

.icon-yincang:before {
  content: "\e6cf";
}

.icon-sousuo:before {
  content: "\e610";
}

.icon-chakan:before {
  content: "\e60f";
}

.icon-tuichuquanping:before {
  content: "\e60a";
}

.icon-MenuFold:before {
  content: "\e60b";
}

.icon-MenuUnfold:before {
  content: "\e60c";
}

.icon-xiaoyuanka:before {
  content: "\e6c9";
}

.icon-kaoshi:before {
  content: "\e60d";
}

.icon-fangda:before {
  content: "\e603";
}

.icon-jiaodian:before {
  content: "\e604";
}

.icon-suoxiao:before {
  content: "\e605";
}

.icon-xiazai:before {
  content: "\e606";
}

.icon-yonghu:before {
  content: "\e607";
}

.icon-quanping:before {
  content: "\e608";
}

.icon-zishiying:before {
  content: "\e609";
}

.icon-tuichu:before {
  content: "\e622";
}

.icon-zuoye:before {
  content: "\e72d";
}

.icon-lishijilu:before {
  content: "\e6c8";
}

.icon-yijianfankui:before {
  content: "\e685";
}

.icon-ziyuanku:before {
  content: "\e61a";
}

.icon-tongjibaobiao:before {
  content: "\e6c3";
}

.icon-zhishitupu:before {
  content: "\e696";
}

